.album_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0px;
    max-width: 1024px;
    margin: auto;
    margin-top: 30px;
}

.album_details{
	height: 350px;
    width: 300px;
    background: white;
    margin: 5px;
    border-radius: 5px;
    margin-top: 30px;

    .album_cover{
    	height: 200px;
	    background-size: cover;
	    background-repeat: no-repeat;
	    color: white;
	    font-weight: bold;
	    font-size: 20px;
	    padding: 0px 10px;
	    border-radius: 5px;

	    div{
	    	height: 165px;
	    	width: 100%;
	    }
    }


    .album_description {
	    font-size: 14px;
	    padding: 10px;
	    padding-left: 20px;
	    text-align: justify;

	    p{
	    	text-align: right;
    		color: #999;
	    }

	    img{
	    	height: 22px;
	    }

	    .featured_div {
		    display: flex;
		    justify-content: space-between;
		    margin-top: 10px;
		}
	}
}

